arget/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.classpath
.project
.settings
.springBeans
*.orig
.idea
Gemfile.lock
.DS_Store
data/bin/
media/
data/target/
vendor/
composer.lock
*.pyc
*.log
*/venv
SalesForceMigration/config.ini
*.xlsx
sapnaRails/db/schema.rb
/bin/
